{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <div class="content-section">


            <form action="{% url 'loginapp:password_reset' %}" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">

                    <legend class="border-bottom mb-4">Password reset</legend>
                    <label for="user">Enter your username</label>
                    <input type="text" class="form-control" id="user" name="user" placeholder="User Name">
                </fieldset>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="Reset password">
                </div>
            </form>

        </div>
    </div>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
{% endblock content %}